<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="app.wristkey.AuthenticatorQRImport"></activity>

        <activity
            android:name="app.wristkey.BitwardenJSONImport"
            android:label="@string/title_activity_bitwarden_jsonimport" />

        <activity
            android:name="app.wristkey.QRScannerActivity"
            android:label="@string/title_activity_bitwarden_jsonimport" />

        <activity
            android:name="app.wristkey.AegisJSONImport"
            android:label="@string/title_activity_aegis_jsonimport" />

        <activity
            android:name="app.wristkey.AndOtpJSONImport"
            android:label="@string/title_activity_andotp_import" />

        <activity
            android:name="app.wristkey.OtpAuthImport"
            android:label="@string/title_activity_otpauth_import" />

        <activity
            android:name="app.wristkey.WristkeyImport"
            android:label="@string/title_activity_wristkey_import" />

        <activity
            android:name="app.wristkey.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.wristkey.QRCodeActivity"
            android:label="QR code" />
        <activity
            android:name="app.wristkey.AddActivity"
            android:label="Add account" />

        <activity
            android:name="app.wristkey.ManualEntryActivity"
            android:label="Add account" />

        <activity
            android:name="app.wristkey.ExportActivity"
            android:label="Add account" />

        <activity
            android:name="app.wristkey.AboutActivity"
            android:label="About" />
        <activity
            android:name="app.wristkey.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name="app.wristkey.ColorPickerActivity"
            android:label="Color picker" />
        <activity
            android:name="app.wristkey.DeleteActivity"
            android:label="Delete account" />
    </application>

</manifest>